html {
	scroll-behavior: smooth;
}

.main-header{
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    background-color: #1F1F1F;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    
}

.logo{
    position: absolute;
    width: 10vw;
    height: 100px;
    left: 87px;
    top: 0px;
    padding-top: 20px;
    background-color: #A71A1A;
    text-align: center;
    z-index: 1;
}

.logo:hover{
    cursor: pointer;
}

.logo > h3{
    color: white;
    font-size: 26px;
    font-family: 'Pacifico', cursive;
    margin: 0;
}

.logo > h4{
    font-family: 'Gayathri', sans-serif;
    margin-top: 15px;
    color: white;
}

.right-menu{
    display: flex;
    align-items: center;
    font-family: 'Khand', sans-serif;
}

.nav > ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.nav > ul > li{
    font-size: 18px;
    padding: 10px;
    
}

.nav > ul > li > a{
    color: white;
}

.nav > ul > li:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}


button{
    cursor: pointer;
}

.user > button {
    border: none;
    font-size: 18px;
    padding: 7px;
    margin-right: 5px;
    font-family: 'Khand', sans-serif;
}

.user > .sign-button{
    background-color: rgb(167, 26, 26);
    color: white;
}

.log-button:hover{
    background-color: rgba(255, 255, 255, 1.2);
}

.sign-button:hover{
    background-color: rgba(167, 26, 26, 0.8);
}

/* greeting */

