.greeting{
    position: relative;
    width: 100vw;
    height: 100vh;    
    background-image: url("https://firebasestorage.googleapis.com/v0/b/guitars-ecommerce.appspot.com/o/SHOP_WIDE_ACOUSTIC_-min.jpg?alt=media&token=7cfee152-bc26-44df-9090-d3070960fe3c");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.greeting:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: contrast(120%);
}

.greet-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 15vh;
    right: 10vw;
    font-family: 'Khand', sans-serif;
    color: white;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.82);
    padding: 30px;
    
}

.greet-box > h4 {
    font-family: 'Khand', sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
}
.greet-box > p {
    font-family: 'Khand', sans-serif;
    font-size: 20px;
    
}

.greet-box > p > strong {
    font-family: 'Pacifico', cursive;
}

.greet-box > button{
   margin: 10px 40px;
   padding: 10px;
   border: none;
   font-family: 'Khand', sans-serif;
   color: white;
   background-color: #A71A1A;
}

.greet-box > button:hover{
    background-color: rgba(167, 26, 26, 0.8);
}