.logos-grid{
    padding: 5vw;
    display: grid;
    grid-template-columns: repeat(3, calc(60vw/3));
    grid-template-rows: repeat(2, calc(60vw/3));
    gap: 5vw;
    background-color: #1f1f1f;
    justify-content: center;
}

.logos-grid-card{
    background-color: #dabd86;
    display: flex;
    justify-content: center;

    -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
transition: all 0.5s ease;
}

.logos-grid-card-image{
    object-fit: contain;
    width: 40%;
}

.logos-grid-card:hover{
    cursor: pointer;
    background-color: rgb(218, 189, 134, 0.4);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}



